################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OnPaper-Auth/OnPaper-Auth Config/onpaper-auth-firebase-adminsdk-58xcs-f23cdc41a4.json

/.vs/